caption {
    font-size: 32px;
}

table {
    width : 320px;
}

table, th {
    background: #333;
}

th {
    padding-right: 10px;
    height: 80px;
}

td {
    height: 75px;
    text-align: center;
}

th > input {
    width: 100%;
    border: none;
    background: #333;
    color: white;
    text-align: right;
    font-size: 48px;
}

td > input[type="button"] {
    width: 100%;
    height: inherit;
    color: #333;
    font-size: 36px;
    border: none;
}

td > input[type="button"]:hover {
    background: #999;
}

td:last-child > input {
    background: orange;
    color: white;
}