* {
    margin: 0;
}

body {
    padding: 20px;
}

h1, h2, h3, h4, p {
    font-weight: normal;
    margin: 5px 0;
}

/* 라이트박스 컨테이너 */
#lightbox.active {
    position: absolute;
    overflow: hidden;
    background: #333;
    width: 800px;
    height: 540px;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -250px;
    box-sizing: border-box;
    padding: 30px;
    z-index: 99;
    display: block;
}

#lightbox {
    display: none;
}

#lightbox h1, #lightbox p {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

/* 이미지 박스 */
figure {
    width: 500px;
    height: 300px;
    position: relative;
    margin: 10px auto;
    overflow: hidden;
}

figure img {
    display: none;
    position: absolute;
}

figure img.active {
    display: block;
}

/* 창 닫기 버튼 */
.btn-close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    color: white;
    font-size: large;
}

.btn-close:hover {
    background-color: #666;
}

#block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    opacity: 0.5;
    z-index: 9;
    display: none;
}

#block.active {
    display: block;
}

.indicator {
    text-align: center;
}

.indicator button {
    background: #666;
    color: white;
    font-size: 12px;
    border: none;
    padding: 2px 5px;
}

.indicator button:focus {
    background: #38f;
}